.App {
  animation: colorchange 50s;
  animation-iteration-count: infinite;
  position: relative;
}
 @keyframes colorchange
  {
    0%   {background: maroon;}
    25%  {background: #AF37A7;}
    50%  {background: steelblue;}
    75%  {background: forestgreen;}
    95% {background: orange;}
    100% {background: maroon;}
  }
.Particles {
  height: 100vh;
}
.TopBoard {
  font-family: 'Permanent Marker', cursive;
  font-weight: lighter;
  letter-spacing: 15px;
  text-shadow: 5px 4px black;
  position: absolute;
  left: 0;
  right: 0;
  padding: 5px;
  width: 97%;
  height: 10%;
  max-height: 10%;
  margin: 0 auto;
  text-align: center;
  --minFontSize: 28px;
  --maxFontSize: 200px;
  --scaler: 3vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize));
  color: white;
}
.login-draw-border {
  box-shadow: inset 0 0 0 4px white;
  color: black;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.login-draw-border::before, .login-draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.login-draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.login-draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.login-draw-border:hover {
  color: green;
}
.login-draw-border:hover::before, .login-draw-border:hover::after {
  border-color: green;
  border-radius: 5px;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.login-draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.login-draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.login-btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: .5em 2em;
  letter-spacing: 0.05rem;
}
.login-btn:focus {
  outline: none;
}
.reg-draw-border {
  box-shadow: inset 0 0 0 4px white;
  color: black;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.reg-draw-border::before, .reg-draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.reg-draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.reg-draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.reg-draw-border:hover {
  color: green;
}
.reg-draw-border:hover::before, .reg-draw-border:hover::after {
  border-color: green;
  border-radius: 5px;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.reg-draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.reg-draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.registration-btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: .5em 2em;
  letter-spacing: 0.05rem;
}
.registration-btn:focus {
  outline: none;
}
.register-btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 .9rem 'Roboto Slab', sans-serif;
  padding: .5em 5.3em;
  letter-spacing: 0.05rem;
}
.register-btn:focus {
  outline: none;
}
button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
input{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
@media only screen and (max-width: 600px) {
  .login-btn{
    font-size: 1rem;
  }
  .registration-btn{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1400px){
  .introContainer{
    width: 99%;
    font-size: 12px;
    position: absolute;
  }
}
