.App {
  /* background-color: #AF37A7; */
  animation: colorchange 50s;
  animation-iteration-count: infinite;
  position: relative;
  /* height: vh; */
  /* width: 100vh; */
  /* min-height: 100vh; */
}
@import url(//db.onlinewebfonts.com/c/010ccd5e01410372451e339ff869a99b?family=Drafting);

@font-face {
  font-family: "Drafting";
  src:
   url("//db.onlinewebfonts.com/t/010ccd5e01410372451e339ff869a99b.woff2") format("woff2"),
   url("//db.onlinewebfonts.com/t/010ccd5e01410372451e339ff869a99b.woff") format("woff");
 }

 @keyframes colorchange
    {
      0%   {background: maroon;}
      25%  {background: #AF37A7;}
      50%  {background: steelblue;}
      75%  {background: forestgreen;}
      100% {background: orange;}
    }
.Particles {
height: 100vh;
}
.TopBoard {
  position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -420px;
    padding: 5px;
    border: solid woo 5px;
    font-size: 72px;
    color: white;
    font-weight: bolder;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
    font-family: "Drafting";
    font-weight: normal;
}

.login-draw-border {
  box-shadow: inset 0 0 0 4px white;
  color: black;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.login-draw-border::before, .login-draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.login-draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.login-draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.login-draw-border:hover {
  color: green;
}
.login-draw-border:hover::before, .login-draw-border:hover::after {
  border-color: green;
  border-radius: 5px;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.login-draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.login-draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.login-btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.login-btn:focus {
  outline: 2px dotted #55d7dc;
}
button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
input{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
