.factsContent{
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  word-wrap: break-word;
  border-radius: 5px;
  width: 88%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.factsContent p{
  margin: 0;
  padding: 20px 5px;
}
.factsContent p:hover {
  background-color: #f1f1f1;
  border-bottom: solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.editWrapper{
  display: inline-block;
}
.back-track-btn{
  background: white !important;
  border: 2px solid !important;
  margin: 10px 0 0;
  font-size: 12px;
}
