.MainDashboard{
  /* position: relative; */
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
    /* border: solid yellow; */
    width: 99vw;
    height: 87vh;
}

.StoryMakingContainer {
      width: 99%;
      height: 85vh;
      display: flex;
      position: absolute;
      top: 0px;
      /* border: solid black 5px; */
      /* position: absolute;
      top: 85px; */
      /* margin-left: 20px; */
      /* left: 15.55%; */
}
.progressBar{
  /* position: absolute;
  left: 0px; */
  /* text-align: center; */
  /* margin: 30px 5px 0px 5px;
  height: 90vh; */
  background: white;
  margin-right: 9px;
  width: 18em;
  font-size: 90%;
  border: solid black 5px;
  border-radius: 5px;
  overflow: overlay;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.chapterStories {
  text-align: center;
}
.progressBar > ul {
  list-style-type: none;
  /* padding-left: 10px; */
  padding: 0px 10px;
  /* border: solid black 1px; */
}
ul > .chapter {
  /* border: solid black 1px; */
  border-bottom: solid black 2px;
  border-right: solid black 2px;
  border-bottom-right-radius: 5px;
  /* width: 90%; */
  padding-right: 5px;
  padding-bottom: 2px;
  margin-top: 5px;
}
.progressBar > div {
  border-bottom: solid black 3px;
  /* border-radius: 5px; */
  width: 85%;
  margin: 0 auto;
  padding: 5px;

}
.ideaSuggestionsBar{
  /* position: absolute;
  top: 0px; */
  /* right: 0px; */
  /* text-align: center; */
  /* margin: 30px 5px 0px 5px; */
  /* height: 90vh; */
  background: white;
  width: 20.2em;
  margin-left: 9px;
  border: solid black 5px;
  border-radius: 5px;
  font-size: 80%;
  overflow: overlay;
}
.ideaSuggestionsBar > div {
  /* border-bottom: solid black 3px; */
  border-radius: 5px;
  padding: 5px;
}
.boxOfSuggestions {
  text-align: center;
  border-bottom: solid;
}
.ideaSuggestionsBar > ul {
  list-style-type: none;
  padding-left: 10px;
  margin-top: 10px;
}
.listOfSuggestions{
  padding-left: 0;
  padding: 0px 5px;
}
.listOfSuggestions > .singleSuggestion {
  border-bottom: solid black 2px;
  border-left: solid black 2px;
  border-bottom-left-radius: 5px;
  list-style-type: none;
  /* width: 80%; */
  padding-left: 10px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.listOfSuggestions .singleSuggestion:nth-of-type(1n+14){
  display: none;
}
.ideaBar-btn{
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.logout-btn{
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}
.intro{
  text-align: center;
  width: 70%;
  height: fit-content;
  /* display: block; */
  margin: auto 9%;
  background: white;
  padding: 10px;
  border: solid black 5px;
  /* position: absolute;
  top: 145px; */
  /* left: 25%; */
}
.hexsContainer{
  position: relative;
  /* border: solid white; */
  width: 100%;
  height: 100%;
  /* height: 29em;
  margin-left: -4em;
  margin-top: -2em; */
}
.hexagon {
  width: 25%;
  height: 41.55%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  position: absolute;
  /* background: white; */
  /* margin-left: 50px; */
}
.hexagon:hover {
  cursor: pointer;
}
/* .top {
  margin: 20px 40px 5px;
  top: 15px;
} */
.hex1{
  position: absolute;
  top: 2%;
  left: 3.72%;
}

.alt-1{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hex2{
  position: absolute;
  top: 2%;
  right: 3.72%;
}
.alt-2{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hex3{
  position: absolute;
  bottom: 50%;
  margin-bottom: -14%;
    left: 50%;
    margin-left: -13.4%;
}
.alt-3{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hex4{
  position: absolute;
  bottom: 2%;
  left: 9.72%;
}
.alt-4{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hex5{
  position: absolute;
  bottom: 2%;
  right: 9.72%;
}
.alt-5{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* .base {
  margin-left: 105px;
} */
/* .bottomLeft {
  position: absolute;
  bottom: 10px;
  left: 90px;
}
.bottomRight {
  position: absolute;
  bottom: 10px;
  right: 90px;
} */
.settingMessage{
  border: solid black 2px;
padding: 4% 2%;
text-align: center;
/* display: block; */
/* margin: 2% 37% 0; */
/* position: absolute; */
/* top: 11%; */
/* left: 50%; */
/* margin-left: -16.3%; */
width: 25%;
font-size: .9em;
margin: 10px auto;
background: white;
}

.BackgroundImageSetting {
  /* margin: 10px 15%;
  width: 70%;
  height: auto; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* object-fit: fill; */
}
.hexBox{
  height: 0;
    width: 0;
    overflow: hidden;
    padding: 13%;
    border: solid red;
    /* padding-top: 591.44px / 1127.34px * 100%; */
    /* background: white; */
}
/* .test-box{
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  top: 100px;
  left: 200px;
  padding: 10px;
}
.test-box:active{
  width: 400px;
  height: 200px;
  transition: width .25s, height .10s;
} */

.fillingStory{
  /* text-align: center; */
  position: absolute;
  bottom: 0px;
  /* top: -75px; */
  /* margin: 0 100px; */
  left: -10px;
  background-color: whitesmoke;
  padding: 12px;
  width: 100%;
  height: 28vh;
  z-index: 1;
}
.editStory{
  /* text-align: center; */
  position: absolute;
  top: 24%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* margin: 0 100px; */
  /* margin-left: -26%;
  left: 50%; */
  background-color: whitesmoke;
  padding: 12px;
  width: 60%;
  height: fit-content;
}
.editChapterNumber{
  padding: 5px;
  margin: 5px;
  width: 35px;
  text-align: center;
}
.editTitleInput{
  padding: 5px;
  margin: 5px;
  width: 55%;
  text-align: center;
}
.editStoryBox{
  padding: 5px;
  margin: 5px;
  width: 80%;
  height: 10vh;
  text-align: center;
}
.editChapterSubmit{
  /* position: absolute;
  bottom: 12px;
  left: 50%;
  margin-left: -16%; */
  width: 148px;
  padding: 2px;
  background-color: #28739E;
  color: white;
}
.editModalClose-btn{
  position: absolute;
  top: 5px;
  right: 2px;
  width: 40px;
  height: auto;
  background: none;
  border: none;
}
.editModalClose-btn:hover{
  cursor: pointer;
}
.thoughts{
  text-align: center;
  margin: 0px;
}
.storyBox{
  width: 70%;
  height: 16vh;
  /* margin-bottom: 5px; */
  position: absolute;
  top: 45px;
  left: 50%;
  margin-left: -35%;
  /* margin: 5px 81px; */
  text-align: center;
}

/* .userProgress{
  margin: 15px 20px;
  border: solid black 5px;
  padding: 10px;
  background: white;
} */
/* .userProgress > h2 {
  text-align: center;
  margin-top: -5px; */
  /* border-bottom: solid black 2px; */
  /* display: inline-block; */
/* }
.userStats {
  margin: 15px 20px;
  border: solid black 5px;
  padding: 10px;
  background: white;
}
.userStats > h3 {
  text-align: center;;
  margin-top: -5px;
} */

.react-tabs {
 -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
 /* border-bottom: 1px solid #aaa; */
 margin: 0px;
 padding: 0;
 text-align: center;
}

.react-tabs__tab {
 display: inline-block;
 border: 1px solid transparent;
 border-right: solid white 1px;
 border-top-right-radius: 5px;
 border-bottom: none;
 bottom: -1px;
 position: relative;
 list-style: none;
 background: black;
 color: white;
 padding: 6px 12px;
 font-size: 1.5vw;
 cursor: pointer;
}

.react-tabs__tab--selected {
 background: #fff;
 border-color: #aaa;
 color: black;
 padding-left: 5%;
 padding-right: 5%;
 /* font-size: 1.4vw; */
 border-radius: 5px 5px 0 0;
}

.react-tabs__tab:focus {
 box-shadow: 0 0 5px hsl(208, 99%, 50%);
 border-color: hsl(208, 99%, 50%);
 outline: none;
}

.react-tabs__tab:focus:after {
 content: "";
 position: absolute;
 height: 5px;
 left: -4px;
 right: -4px;
 bottom: -5px;
 background: #fff;
}

.react-tabs__tab-panel {
  display: none;
  padding: 0px 0px;
  text-align: center;
  /* border: solid white; */
  height: 62vh;
  overflow: scroll;
  margin: 0px 30px;
  border-radius: 5px;
  position: relative;
}

.react-tabs__tab-panel--selected {
 display: block;
}

.progressContainer{
  /* display: table; */
  margin: 0 auto;
}
.progressContainer ul li {
  display: inline-grid;
  grid-template-rows: 30% 50%;
}
.progressLine {
  list-style: none;
  padding: 0;
}
.progressBox{
  width: 115px;
  height: 85px;
  border: solid black 3px;
  padding: 10px;
  margin: 6px;
  background-color: white;
  position: relative;
}
/* .progressBox div {} */

.deleteChapter{
  background: white;
  border: none;
  border-radius: 12px;
  padding: 0;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -8px;
  right: -8px;
  }
.deleteChapter:hover{
  cursor: pointer;
}
.editTheChapter{
  background: none;
  border: none;
  border-radius: 3px;
  width: 30px;
  padding: 0px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -15px;
}
.editTheChapter .edit-tooltip{
  visibility: hidden;
  width: auto;
  padding: 5px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: 35px;
  right: -2px;
  z-index: 1;
}
.editTheChapter:hover .edit-tooltip{
  visibility: visible;
}
.editTheChapter .edit-tooltip::after{
  content: " ";
position: absolute;
bottom: 100%;  /* At the top of the tooltip */
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: transparent transparent white transparent;
}
.editTheChapter:hover{
  cursor: pointer;
}
.statsContainer{
  display: flex;
  flex-direction: row;
}
.statsBars {
  width: 100px;
  height: 100px;
  border: solid black 3px;
  margin: 5px;
}
.ending-container{
  background: ghostwhite;
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
.draw-border {
  /* box-shadow: inset 0 0 0 4px white; */
  color: black;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: green;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: green;
  border-radius: 5px;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.btn {
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em;
  letter-spacing: 0.05rem;
}
/* .btn:focus {
  outline: 2px dotted #55d7dc;
} */
/* .exitLink{

   text-decoration: none;
   background-color: #EEEEEE;
   color: #333333;
   padding: 2px 6px 2px 6px;
   border-top: 1px solid #CCCCCC;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: 1px solid #CCCCCC;
} */
/* .modal{
  width: auto;
  height: auto;
} */
/* .back-track-btn{
  margin-top: 10px;
} */
.link-btn{
  padding: 10px 25px;
  margin-bottom: 5px;
  text-decoration: none;
  display: inline-block;
}
.chapterModalContainer{
  margin: auto;
}
.outside-btn{
  /* position: absolute;
  bottom: 25px;
  margin-left: -75px;
  left: 50%; */
  padding: 10px;
  width: 100%;
}
.inside-btn{
  position: absolute;
  top: 4%;
  right: 1.5%;
  color: black;
  background: none;
  border: none;
  width: 25px;
  padding: 0px;
}
.modal-btn{
}

.logout-btn{
  position: absolute;
  top: -50px;
  right: 7px;
}
.chapterNumber{
  position: absolute;
top: 12px;
left: 18%;
padding: 2px;
width: 28%;
text-align: center;
}
.titleInput{
  position: absolute;
    top: 12px;
    right: 18%;
    padding: 2px;
    width: 28%;
    text-align: center;
}
.chapterStory{
  margin: 19px 6px 5px;
}
.goPrevious{
  /* position: absolute; */
      /* top: 12px; */
      /* bottom: 14px;
      left: 1em; */
      width: 45px;
      /* height: 28px; */
      background: none;
      border: none;
}
.goPrevious .back-tooltip{
  visibility: hidden;
  width: auto;
  padding: 5px;
  background: white;
  border: 1px solid black;
  position: absolute;
  top: -26px;
  left: -4px;
  /* right: -20%; */
  z-index: 1;
}
.goPrevious:hover{
  cursor: pointer;
}
.goPrevious:hover .back-tooltip{
  visibility: visible;
}
.goPrevious .back-tooltip::after{
content: "";
position: absolute;
top: 100%; /* At the bottom of the tooltip */
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: white transparent transparent transparent;
}
.chapterSubmit{
  position: absolute;
bottom: 12px;
left: 50%;
margin-left: -74px;
width: 148px;
padding: 2px;
background-color: #28739E;
color: white;
}
.finishUp{
  /* position: absolute; */
      /* top: 12px; */
      /* bottom: 17px;
      right: 1em;
      bottom: 17px; */
      /* margin: 0px; */
      width: 56px;
      /* height: 107px; */
      padding: 0px;
      /* border-radius: 5px; */
      border: none;
      background: none;
}
.finishUp .finalize-tooltip{
  visibility: hidden;
  width: 70px;
  padding: 5px;
  background: white;
    border: 1px solid black;
  position: absolute;
  top: -42px;
  /* left: -1.7vw; */
  right: -4px;
  z-index: 1;
}
.finishUp:hover{
  cursor: pointer;
}
.finishUp:hover .finalize-tooltip{
  visibility: visible;
}
.finishUp .finalize-tooltip::after{
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
/* .hidden-content{
  display: none;
} */
.draftTitle{
  margin: 0px;
}
.draftContent{
  margin: 0px;
}
.endTitle{
  margin: 0px;
  font-size: 54px;
  color: white;
  font-weight: bolder;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
  font-family: "Drafting";
  font-weight: normal;
}
.dropbtn{
  background: whitesmoke;
border: none;
width: 47vw;
border-radius: 5px;
cursor: pointer;
line-height: 1.5;
/* font: 700 1.2rem 'Roboto Slab', sans-serif; */
padding: .6em;
letter-spacing: 0.05rem;
}
.mobile-border {
  /* box-shadow: inset 0 0 0 4px white; */
  color: black;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.mobile-border::before, .mobile-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.mobile-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.mobile-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.mobile-border:hover {
  color: green;
}
.mobile-border:hover::before, .mobile-border:hover::after {
  border-color: green;
  border-radius: 5px;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.mobile-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.mobile-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.dropdown-progress {
  /* display: none; */
  border: solid black 1px;
border-radius: 5px;
border-top-left-radius: unset;
border-top-right-radius: unset;
position: absolute;
background-color: #f1f1f1;
min-width: 50%;
font-size: 14px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
z-index: 1;
}
.dropdown-suggestions {
  position: absolute;
  right: 0px;
  border: solid black 1px;
border-radius: 5px;
border-top-right-radius: unset;
border-top-left-radius: unset;
  background-color: #f1f1f1;
  min-width: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  z-index: 1;
}
.chapCreationContainer{
  width: 100%;
  position: relative;
}
.pathwayContainer{
  /* border: solid white; */
width: auto;
height: 65px;
position: absolute;
/* top: -73px; */
bottom: 0;
right: 100px;
left: 100px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.endContainer{
  width: 100%;
}
.react-tabs__tab{
border-right: solid white 3px;
border-left: solid white 3px;
border-top: solid white 2px;
border-top-right-radius: 15px;
border-top-left-radius: 15px;
}
/* .react-tabs__tab--selected{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1em;
} */
/* .react-tabs__tab-panel{
border: solid white;
height: 70vh;
} */
.pollContainer{
  background: white;
  border: solid;
  width: 85%;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .hexBox{
    padding: 15%;
  }
  .hex3{
    margin-left: -15.4%;
  }
  .hex4{
    left: 7.72%;
  }
  .hex5{
    right: 7.72%;
  }
}
@media only screen and (max-width: 768px) {
  .settingMessage{
    width: 95%;
  }
  .hexBox{
    padding: 19%;
  }
  .hex1{
    top: 14%;
    left: 0;
  }
  .hex2{
    top: 14%;
    right: 0;
  }
  .hex3{
    margin-bottom: -27%;
    margin-left: -19%;
  }
  .hex4{
    left: 0;
  }
  .hex5{
    right: 0;
  }

}

@media only screen and (max-width: 755px) {
  .ideaSuggestionsBar{
    visibility: hidden;
    position: absolute;
  }
  .progressBar{
    visibility: hidden;
    position: absolute;
  }
  .StoryMakingContainer{
    /* width: 98%%; */
/* margin: 2.78%; */
height: 74vh;
position: absolute;
top: 4em;
max-width: 98%;
  }
  .chapCreationContainer{
    /* position: absolute;
    width: 99%;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto; */
  }
  .intro{
    width: 75%;
    margin: 20px auto;
    font-size: .88em;
  }

  .mobile-progressBar{
    position: absolute;
    top: 1em;
    left: 5px;
  }
  .coverList{
    list-style-type: none;
    padding: 0px 10px;
  }
  .mobile-suggestionsBar{
    position: absolute;
    top: 1em;
    right: 5px;
  }
  .listOfSuggestions {
    list-style-type: none;
    padding: 0 20px;
    font-size: 11px;
  }
.next-action{
  /* font-size: 2em; */
}
.react-tabs__tab-panel{
  height: 56vh;
}
.logout-btn{
  top: -18px;
  right: 5px;
}
/* ul > .chapter{
  padding-right: 5px;
} */
.settingMessage{
  width: 30%;
}
.hexBox{
  padding: 13%;
}
.hex1{
  top: 3%;
  left: 3%;
}
.hex2{
  top: 3%;
  right: 3%;
}
.hex3{
  margin-bottom: -14%;
  margin-left: -13.2%;
}
.hex4{
  left: 3%;
}
.hex5{
  right: 3%;
}
.react-tabs__tab{
  font-size: 2.4vw;
}
}
@media only screen and (max-width: 755px) {
  .hexBox{
    padding: 14%;
  }
  .hex3{
  margin-left: -14.45%
  }
}
@media only screen and (min-width: 756px){
  .dropdown-bar{
    visibility: hidden;
  }

}
@media only screen and (max-width: 480px){
  .fillingStory{
    width: 82vw;
left: -5em;
  }
}





/* @media only screen and (max-width: 1312px){
  .StoryMakingContainer{ */
    /* width: 68vw;
    height: 75vh; */
  /* } */
  /* .ideaSuggestionsBar > ul {
    font-size: 14px;
  } */

/* } */
/* @media only screen and (max-width: 992px){
  .progressBar{
    height: 32em;
  top: 1em;
  width: 15vw;
  font-size: .938em;
  }
  .ideaSuggestionsBar{
    height: 32em;
  top: 1em;
  width: 15vw;
  font-size: .938em;
  }
  .ideaBar-btn{
    font-size: 12px;
    padding: 4px;
  }
  .listOfSuggestions{
    font-size: .85em;
  }
  .intro {
    font-size: 14px;
    top: 98px;
  }
  .StoryMakingContainer{
    left: 18%;
  max-width: 63vw;
  top: 78px;
  }
  .hexsContainer{ */
    /* position: relative;
    border: solid white; */
    /* width: 25em;
    height: 29em;
    margin-left: -4em;
    margin-top: -2em; */
  /* }
  .hexagon{ */
    /* position: absolute; */
    /* width: 30%; */
    /* height: 10.5em;
    margin: 20px 44px 5px; */
/* }
  .settingMessage{
    font-size: 1em;
    border: 2px solid black;
    padding: 5px; */
    /* margin: 8px 201px; */
    /* position: absolute; */
    /* top: -3%;
    margin-left: -14%;
    width: 10em;
  } */
  /* .top{
    margin: 0px;
  } */
  /* .alt-1{ */
    /* top: 18px; */
  /* }
  .alt-2{ */
    /* top: 18px;
    right: 0; */
  /* }
  .alt-3{
  top: 50%;
  margin-top: -92px;
  left: 50%;
  margin-left: -15%;
  }
  .alt-4{
    bottom: 15px;
    left: 5vw;
  }
  .alt-5{
    bottom: 15px;
    right: 5vw;
  }
  .BackgroundImageSetting{
    height: 83vh;
  }
  .outside-btn{
    padding: 6px;
    width: 12em;
    font-size: 12px;
    margin-left: -68px;
  }
  .goPrevious{
    bottom: 15px;
    left: 14em;
    width: 32px;
  }
  .finishUp{
    bottom: 16px;
    right: 12.8em;
    width: 34px;
  }
  .storyBox{
    width: 80%; */
    /* font-size: 10px; */
    /* height: 14vh;
    top: 51px;
    left: 50%;
    margin-left: -191px;
  }
  .fillingStory{
    left: 50%;
    margin-left: -233px;
  } */
  /* .chapterSubmit{
    font-size: 10px;
  } */
  /* .inside-btn{
    top: 7px;
    right: 7px;
    width: 20px;
  }
  .chapterNumber{
    top: 16px;
    left: 70px;
  }
  .titleInput{
    top: 16px;
    right: 70px;
  }
  .react-tabs__tab--selected{
    padding-left: 70px;
    padding-right: 70px; */
    /* font-size: 14px; */
  /* }
  .react-tabs__tab{
    font-size: 15px;
  } */
  /* .progressBox{
    width: 43%;
    height: 30px;
    text-align: initial;
    font-size: 14px;
    padding: 5px;
    margin: 6px 0px;
    margin-left: -77px;
    left: 50%;
  } */
  /* .endTitle{
    font-size: 40px;
  } */
  /* .progressContainer ul li {
    display: inherit;
  } */
  /* .editTheChapter{
    bottom: 10px;
    right: 14%;
    left: initial;
  } */
  /* .btn{
    font: 600 1rem 'Roboto Slab', sans-serif;
  }
  .ending-container h3{
    font-size: 16px;
  }
}
@media only screen and (max-width: 755px){
  .progressBar{
    width: 19vw;
top: 2em;
height: 31em;
  }
  .ideaSuggestionsBar{
    width: 19vw;
    top: 2em;
    height: 31em;
  }
  .StoryMakingContainer{
    left: 22%;
    max-width: 55vw;
  }
  .hexagon{
    width: 35%;
    height: 35%;
  }
  .alt-1{
    top: 9%;
    left: 1vw;
  }
  .alt-2{
    top: 9%;
    right: 1vw;
  }
  .alt-3{
    margin-left: -17.37%;
  margin-top: -18.81%;
  top: 49%;
  }
  .alt-4{
    bottom: 9%;
    left: 1vw;
  }
  .alt-5{
    bottom: 9%;
    right: 1vw;
  }
}
@media only screen and (max-width: 688px){
  .progressBar{
height: 13em;
width: 47%;
top: 2em;
text-align: center;
  }
  .progressBar > ul {
    padding-left: 24px;
  }
  ul > .chapter {
    border-left: solid black 2px;
    border-bottom-left-radius: 5px;
  }
  .ideaSuggestionsBar{
height: 13em;
width: 47%;
top: 2em;
text-align: center;
  }
  .ideaSuggestionsBar > div {
    padding: 2px;
  }
  .ideaBar-btn{
    font-size: 14px;
    padding: 4px;
  }
  .ideaSuggestionsBar > ul {
    padding-left: 26px;
  }
  .listOfSuggestions{
    font-size: 1em;
  }
  .listOfSuggestions > .singleSuggestion {
    border-right: solid black 2px;
    border-bottom-right-radius: 5px;
    width: 90%;
    padding-left: 0px;
  }
  .intro {
    font-size: 12px;
    width: 20em;
    left: -8em;
  }
  .StoryMakingContainer{
left: 5px;
top: 17em;
height: 49vh;
max-width: 97%;
  }
  .hexsContainer{ */
    /* position: relative;
    border: solid white; */
    /* width: 25em;
    height: 29em;
    margin-left: -4em;
    margin-top: -2em; */
  /* }
  .hexagon{
    position: absolute;
    width: 8em;
    height: 8em;
  }
  .settingMessage{
    font-size: 1em;
    border: 2px solid black;
    padding: 5px;
    position: absolute;
    top: 0;
    left: -2.2em;
    width: 10em;
  }
  .alt-1{
    top: 45px;
  }
  .alt-2{
    top: 45px;
    right: 0;
  }
  .alt-3{
    top: 11em;
    left: 22%;
  }
  .alt-4{
    bottom: 1em;
    left: 2em;
  }
  .alt-5{
    bottom: 1em;
    right: 2em;
  }
  .BackgroundImageSetting{
    height: 83vh;
  }
  .outside-btn{
    padding: 6px;
    width: 12em;
    font-size: 10px;
    margin-left: -52px;
  }
  .goPrevious{
    bottom: 15px;
    left: 9em;
    width: 32px;
  }
  .finishUp{
    bottom: 16px;
    right: 7.3em;
    width: 34px;
  }
  .storyBox{
    width: 80%;
    font-size: 10px;
    height: 14vh;
    top: 51px;
    left: 31px;
  }
  .fillingStory{
    left: 2em;
  }
  .chapterSubmit{
    font-size: 10px;
  }
  .inside-btn{
    top: 5px;
    right: 5px;
    width: 16px;
  }
  .chapterNumber{
    top: 16px;
    left: 50px;
    width: 100px;
    font-size: 10px;
  }
  .titleInput{
    top: 16px;
    right: 50px;
    width: 100px;
    font-size: 10px;
  }
  .react-tabs__tab--selected{
    padding-left: 50px;
    padding-right: 50px; */
    /* font-size: 14px; */
  /* }
  .react-tabs__tab{
    font-size: 12px;
  }
  .progressBox{
    width: 43%;
    height: 30px;
    text-align: initial;
    font-size: 14px;
    padding: 5px;
    margin: 6px 0px;
    margin-left: -77px;
    left: 50%;
  }
  .endTitle{
    font-size: 40px;
  }
  .progressContainer ul li {
    display: inherit;
  }
  .editTheChapter{
    bottom: 10px;
    right: 14%;
    left: initial;
  }
  .btn{
    font: 600 .8rem 'Roboto Slab', sans-serif;
  }
  .ending-container h3{
    font-size: 14px;
  }
} */
