.MainDashboard{
  position: relative;
}

.StoryMakingContainer {
  width: 146vh;
  height: 78vh;
  /* background: white; */
  border: solid black 5px;
  position: absolute;
  top: 104px;
  left: 206px;
}
.progressBar{
  position: absolute;
  left: 0px;
  /* text-align: center; */
  margin: 30px 5px 0px 5px;
  height: 90vh;
  background: white;
  width: 180px;
  border: solid black 5px;
  border-radius: 5px;
}
.chapterStories {
  text-align: center;
}
.progressBar > ul {
  list-style-type: none;
  padding-left: 10px;
  /* border: solid black 1px; */
}
ul > .chapter {
  /* border: solid black 1px; */
  border-bottom: solid black 2px;
  border-right: solid black 2px;
  border-bottom-right-radius: 5px;
  width: 90%;
  margin-top: 5px;
}
.progressBar > div {
  border-bottom: solid black 3px;
  border-radius: 5px;
  padding: 5px;

}
.ideaSuggestionsBar{
  position: absolute;
  right: 0px;
  /* text-align: center; */
  margin: 30px 5px 0px 5px;
  height: 90vh;
  background: white;
  width: 180px;
  border: solid black 5px;
  border-radius: 5px;
}
.ideaSuggestionsBar > div {
  border-bottom: solid black 3px;
  border-radius: 5px;
  padding: 5px;
}
.boxOfSuggestions {
  text-align: center;
}
.ideaSuggestionsBar > ul {
  list-style-type: none;
  padding-left: 10px;
}
ul > .singleSuggestion {
  border-bottom: solid black 2px;
  border-left: solid black 2px;
  border-bottom-left-radius: 5px;
  width: 80%;
  padding-left: 10px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.intro{
  text-align: center;
  /* width: 350px; */
  display: block;
  margin: 0px 100px;
  background: white;
  padding: 10px;
  border: solid black 5px;
  position: absolute;
  top: 145px;
  /* left: 25%; */
}
.hexagon {
  width: 230px;
  height: 230px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  /* background: white; */
  /* margin-left: 50px; */
}
.hexagon:hover {
  cursor: pointer;
}
.top {
  margin: 20px 40px 5px;
}
/* .base {
  margin-left: 105px;
} */
.bottomLeft {
  position: absolute;
  bottom: 10px;
  left: 90px;
}
.bottomRight {
  position: absolute;
  bottom: 10px;
  right: 90px;
}
.settingMessage{
  border: solid black 5px;
  padding: 30px;
  text-align: center;
  display: block;
  margin: 2% 37% 0;
  background: white;
}

.BackgroundImageSetting {
  /* margin: 10px 15%;
  width: 70%;
  height: auto; */
  width: 100%;
  height: 78vh;
  object-fit: fill;
}
.modal{
  width: auto;
  height: 50px;
  /* background: white; */
  position: absolute;
  top: 100px;
  left: 200px;
  /* padding: 10px; */
}
/* .test-box{
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  top: 100px;
  left: 200px;
  padding: 10px;
}
.test-box:active{
  width: 400px;
  height: 200px;
  transition: width .25s, height .10s;
} */

.fillingStory{
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 10%;
  background-color: white;
  padding: 12px;
  width: 80%;
}
/* .thoughts{

} */
.storyBox{
  /* width: 55vh;
  height: 15vh; */
  margin-bottom: 5px;
}

/* .userProgress{
  margin: 15px 20px;
  border: solid black 5px;
  padding: 10px;
  background: white;
} */
/* .userProgress > h2 {
  text-align: center;
  margin-top: -5px; */
  /* border-bottom: solid black 2px; */
  /* display: inline-block; */
/* }
.userStats {
  margin: 15px 20px;
  border: solid black 5px;
  padding: 10px;
  background: white;
}
.userStats > h3 {
  text-align: center;;
  margin-top: -5px;
} */

.react-tabs {
 -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
 border-bottom: 1px solid #aaa;
 margin: 0 0 10px;
 padding: 0;
}

.react-tabs__tab {
 display: inline-block;
 border: 1px solid transparent;
 border-right: solid white 1px;
 border-top-right-radius: 5px;
 border-bottom: none;
 bottom: -1px;
 position: relative;
 list-style: none;
 background: black;
 color: white;
 padding: 6px 12px;
 cursor: pointer;
}

.react-tabs__tab--selected {
 background: #fff;
 border-color: #aaa;
 color: black;
 padding-left: 100px;
 padding-right: 100px;
 font-size: 20px;
 border-radius: 5px 5px 0 0;
}

.react-tabs__tab:focus {
 box-shadow: 0 0 5px hsl(208, 99%, 50%);
 border-color: hsl(208, 99%, 50%);
 outline: none;
}

.react-tabs__tab:focus:after {
 content: "";
 position: absolute;
 height: 5px;
 left: -4px;
 right: -4px;
 bottom: -5px;
 background: #fff;
}

.react-tabs__tab-panel {
  display: none;
  padding: 10px 0px;
  text-align: center;
  /* width: 36vw; */
  /* display: inline; */
  margin: 50px;
  border-radius: 5px;
  background: white;
}

.react-tabs__tab-panel--selected {
 display: block;
}

.progressContainer{
  /* display: table; */
  margin: 0 auto;
}
.progressContainer ul li {
  display: inline-block;
}
.progressLine {
  list-style: none;
  padding: 0;
}
.progressBox{
  /* display: inline; */
  width: 100px;
  height: auto;
  border: solid black 3px;
  padding: 10px;
  margin: 5px;
}
.statsContainer{
  display: flex;
  flex-direction: row;
}
.statsBars {
  width: 100px;
  height: 100px;
  border: solid black 3px;
  margin: 5px;
}
.draw-border {
  box-shadow: inset 0 0 0 4px white;
  color: black;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: green;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: green;
  border-radius: 5px;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}
/* .exitLink{

   text-decoration: none;
   background-color: #EEEEEE;
   color: #333333;
   padding: 2px 6px 2px 6px;
   border-top: 1px solid #CCCCCC;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: 1px solid #CCCCCC;
} */
