.MainDashboard{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 99vw;
  height: 87vh;
}
.StoryMakingContainer {
  width: 99%;
  height: 85vh;
  display: flex;
  position: absolute;
  top: 0px;
}
.progressBar{
  position: relative;
  background: white;
  margin-right: 9px;
  width: 18em;
  font-size: 90%;
  border: solid black 5px;
  border-radius: 5px;
  overflow: overlay;
}
.invisibleBox{
  position: absolute;
  margin-left: 5px;
  width: calc(12% + 2.5em);
  height: 98%;
  z-index: 1;
}
.invisibleBox .storyPlot-tooltip{
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}
.invisibleBox .storyPlot-tooltip::after{
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -15px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.invisibleBox:hover .storyPlot-tooltip{
  visibility: visible;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.chapterStories {
  text-align: center;
}
.progressBar > ul {
  list-style-type: none;
  padding: 0px 10px;
}
ul > .chapter {
  border-bottom: solid black 2px;
  border-right: solid black 2px;
  border-bottom-right-radius: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-top: 5px;
}
.progressBar > div {
  border-bottom: solid black 3px;
  width: 85%;
  margin: 0 auto;
  padding: 5px;
}
.ideaSuggestionsBar{
  background: white;
  width: 20.2em;
  margin-left: 9px;
  border: solid black 5px;
  border-radius: 5px;
  font-size: 80%;
  overflow: overlay;
}
.ideaSuggestionsBar > div {
  border-radius: 5px;
  padding: 5px;
}
.boxOfSuggestions {
  text-align: center;
  border-bottom: solid;
}
.ideaSuggestionsBar > ul {
  list-style-type: none;
  padding-left: 10px;
  margin-top: 10px;
}
.listOfSuggestions{
  padding-left: 0;
  padding: 0px 5px;
}
.listOfSuggestions > .singleSuggestion {
  border-bottom: solid black 2px;
  border-left: solid black 2px;
  border-bottom-left-radius: 5px;
  list-style-type: none;
  padding-left: 10px;
  margin-top: 5px;
  padding-bottom: 5px;
}
.listOfSuggestions .singleSuggestion:nth-of-type(1n+14){
  display: none;
}
.ideaBar-btn{
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.logout-btn{
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}
.intro{
  text-align: center;
  width: 70%;
  height: fit-content;
  margin: auto 9%;
  background: white;
  padding: 10px;
  border: solid black 5px;
}
.hexsContainer{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 90%;
}
.hexagon {
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon:hover {
  cursor: pointer;
}
.settingMessage{
  border: solid black 2px;
  padding: 4% 2%;
  text-align: center;
  width: 25%;
  font-size: .9em;
  margin: 10px auto;
  background: white;
}
.BackgroundImageSetting {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.slider-control-bottomcenter{
  bottom: 20% !important;
}
.slider-control-bottomcenter > ul{
  top: 55px !important;
}
.paging-dot{
  width: 10px !important;
  height: 10px !important;
}
.paging-dot > circle{
  cx: 5px !important;
  cy: 5px !important;
  r: 6px !important;
}
.testContainer{
  width: 100%;
  height: 100%;
}
.titleHex {
  border: solid gray 1px;
  text-align: center;
  --minFontSize: 16px;
  --maxFontSize: 200px;
  --scaler: 2vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize));
  background: whitesmoke;
  padding: 5px;
  width: fit-content;
  margin: 0 auto;
}
.slider-control-centerleft{
  top: 91% !important;
  left: 24% !important;
}
.slider-control-centerright{
  top: 91% !important;
  right: 24% !important;
}
ul.slider-list{
  cursor: initial !important;
}
.hexBox{
  cursor: initial;
  height: 280px;
  width: 95%;
  margin: 10% auto;
  flex: 0 0 auto;
  filter: drop-shadow(-1px 15px 3px rgba(0, 0, 0, 0.8));
}
.fillingStory{
  position: absolute;
  bottom: 0px;
  left: -10px;
  background-color: whitesmoke;
  padding: 12px;
  width: 100%;
  height: 28vh;
  z-index: 1;
}
.editStory{
  position: absolute;
  top: 24%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  padding: 12px;
  width: 60%;
  height: fit-content;
}
.editChapterNumber{
  padding: 5px;
  margin: 5px;
  width: 35px;
  text-align: center;
}
.editTitleInput{
  padding: 5px;
  margin: 5px;
  width: 55%;
  text-align: center;
}
.editStoryBox{
  padding: 5px;
  margin: 5px;
  width: 80%;
  height: 10vh;
  text-align: center;
}
.editChapterSubmit{
  width: 148px;
  padding: 2px;
  background-color: #28739E;
  color: white;
}
.editModalClose-btn{
  position: absolute;
  top: 5px;
  right: 2px;
  width: 40px;
  height: auto;
  background: none;
  border: none;
}
.editModalClose-btn:hover{
  cursor: pointer;
}
.thoughts{
  text-align: center;
  margin: 0px;
}
.storyBox{
  width: 70%;
  height: 16vh;
  position: absolute;
  top: 45px;
  left: 50%;
  margin-left: -35%;
  text-align: center;
}
.react-tabs {
 -webkit-tap-highlight-color: transparent;
}
.react-tabs__tab-list {
 display: grid;
 grid-template-columns: auto auto auto;
 margin: 0px;
 padding: 0;
 text-align: center;
}
.react-tabs__tab {
 display: inline-block;
 border: 1px solid transparent;
 border-right: solid white 1px;
 border-top-right-radius: 5px;
 border-bottom: none;
 bottom: -1px;
 position: relative;
 list-style: none;
 background: black;
 color: white;
 padding: 6px 12px;
 font-size: 1.5vw;
 cursor: pointer;
}
.react-tabs__tab--selected {
 background: #fff;
 border-color: #aaa;
 color: black;
 padding-left: 5%;
 padding-right: 5%;
 border-radius: 5px 5px 0 0;
}
.react-tabs__tab:focus {
 box-shadow: 0 0 5px hsl(208, 99%, 50%);
 border-color: hsl(208, 99%, 50%);
 outline: none;
}
.react-tabs__tab:focus:after {
 content: "";
 position: absolute;
 height: 5px;
 left: -4px;
 right: -4px;
 bottom: -5px;
 background: #fff;
}
.react-tabs__tab-panel {
  display: none;
  padding: 0px 0px;
  text-align: center;
  height: 62vh;
  overflow: scroll;
  margin: 0px 30px;
  border-radius: 5px;
  position: relative;
}
.react-tabs__tab-panel--selected {
 display: block;
}
.progressContainer{
  margin: 0 auto;
}
.progressContainer ul li {
  display: inline-grid;
  grid-template-rows: 30% 50%;
}
.progressLine {
  list-style: none;
  padding: 0;
}
.progressBox{
  width: 115px;
  height: 85px;
  border: solid black 3px;
  padding: 10px;
  margin: 6px;
  background-color: white;
  position: relative;
}
.deleteChapter{
  background: white;
  border: none;
  border-radius: 12px;
  padding: 0;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -8px;
  right: -8px;
  }
.deleteChapter:hover{
  cursor: pointer;
}
.editTheChapter{
  background: none;
  border: none;
  border-radius: 3px;
  width: 30px;
  padding: 0px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -15px;
}
.editTheChapter .edit-tooltip{
  visibility: hidden;
  width: auto;
  padding: 5px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: 35px;
  right: -2px;
  z-index: 1;
}
.editTheChapter:hover .edit-tooltip{
  visibility: visible;
}
.editTheChapter .edit-tooltip::after{
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}
.editTheChapter:hover{
  cursor: pointer;
}
.statsContainer{
  display: flex;
  flex-direction: row;
}
.statsBars {
  width: 100px;
  height: 100px;
  border: solid black 3px;
  margin: 5px;
}
.ending-container{
  background: ghostwhite;
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
.draw-border {
  color: black;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: green;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: green;
  border-radius: 5px;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.btn {
  background: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em;
  letter-spacing: 0.05rem;
}
.link-btn{
  padding: 10px 25px;
  margin-bottom: 5px;
  text-decoration: none;
  display: inline-block;
}
.chapterModalContainer{
  margin: auto;
}
.outside-btn{
  background: whitesmoke;
  padding: 10px;
  width: 100%;
}
.outside-btn:hover{
  cursor: pointer;
}
.inside-btn{
  position: absolute;
  top: 4%;
  right: 1.5%;
  color: black;
  background: none;
  border: none;
  width: 25px;
  padding: 0px;
}
.inside-btn:hover{
  cursor: pointer;
}
.logout-btn{
  position: absolute;
  top: -50px;
  right: 7px;
}
.chapterNumber{
  position: absolute;
  top: 12px;
  left: 18%;
  padding: 2px;
  width: 28%;
  text-align: center;
}
.titleInput{
  position: absolute;
  top: 12px;
  right: 18%;
  padding: 2px;
  width: 28%;
  text-align: center;
}
.chapterStory{
  margin: 19px 6px 5px;
}
.goPrevious{
  width: 45px;
  background: none;
  border: none;
}
.goPrevious .back-tooltip{
  visibility: hidden;
  width: auto;
  padding: 5px;
  background: white;
  border: 1px solid black;
  position: absolute;
  top: -26px;
  left: -4px;
  z-index: 1;
}
.goPrevious:hover{
  cursor: pointer;
}
.goPrevious:hover .back-tooltip{
  visibility: visible;
}
.goPrevious .back-tooltip::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.chapterSubmit{
  position: absolute;
  bottom: 12px;
  left: 50%;
  margin-left: -74px;
  width: 148px;
  padding: 2px;
  background-color: #28739E;
  color: white;
}
.finishUp{
  width: 56px;
  padding: 0px;
  border: none;
  background: none;
}
.finishUp .finalize-tooltip{
  visibility: hidden;
  width: 70px;
  padding: 5px;
  background: white;
  border: 1px solid black;
  position: absolute;
  top: -42px;
  right: -4px;
  z-index: 1;
}
.finishUp:hover{
  cursor: pointer;
}
.finishUp:hover .finalize-tooltip{
  visibility: visible;
}
.finishUp .finalize-tooltip::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}
.draftTitle{
  margin: 0px;
}
.draftContent{
  margin: 0px;
}
.endTitle{
  margin: 0px;
  --minFontSize: 28px;
  --maxFontSize: 200px;
  --scaler: 3vw;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize));
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-weight: lighter;
  letter-spacing: 8px;
  text-shadow: 5px 4px black;
}
.dropbtn{
  background: whitesmoke;
  border: none;
  width: 47vw;
  border-radius: 5px;
  cursor: pointer;
  line-height: 1.5;
  padding: .6em;
  letter-spacing: 0.05rem;
}
.mobile-border {
  color: black;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.mobile-border::before, .mobile-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.mobile-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.mobile-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.mobile-border:hover {
  color: green;
}
.mobile-border:hover::before, .mobile-border:hover::after {
  border-color: green;
  border-radius: 5px;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.mobile-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.mobile-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.dropdown-progress {
  border: solid black 1px;
  border-radius: 5px;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 50%;
  font-size: 14px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  z-index: 2;
}
.dropdown-suggestions {
  position: absolute;
  right: 0px;
  border: solid black 1px;
  border-radius: 5px;
  border-top-right-radius: unset;
  border-top-left-radius: unset;
  background-color: #f1f1f1;
  min-width: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
  z-index: 2;
}
.chapCreationContainer{
  width: 100%;
  position: relative;
}
.pathwayContainer{
  width: auto;
  height: 65px;
  position: absolute;
  bottom: 0;
  right: 11.5%;
  left: 11.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.endContainer{
  width: 100%;
}
.react-tabs__tab{
  border-right: solid white 3px;
  border-left: solid white 3px;
  border-top: solid white 2px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.pollContainer{
  background: white;
  border: solid;
  width: 85%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .settingMessage{
    width: 95%;
  }
}
@media only screen and (max-width: 755px) {
  .ideaSuggestionsBar{
    visibility: hidden;
    position: absolute;
  }
  .progressBar{
    visibility: hidden;
    position: absolute;
  }
  .invisibleBox:hover .storyPlot-tooltip{
    visibility: hidden;
  }
  .StoryMakingContainer{
    height: 74vh;
    position: absolute;
    top: 4em;
    max-width: 98%;
  }
  .intro{
    width: 75%;
    margin: 20px auto;
    font-size: .88em;
  }
  .mobile-progressBar{
    position: absolute;
    top: 1em;
    left: 5px;
  }
  .coverList{
    list-style-type: none;
    padding: 0px 10px;
  }
  .mobile-suggestionsBar{
    position: absolute;
    top: 1em;
    right: 5px;
  }
  .listOfSuggestions {
    list-style-type: none;
    padding: 0 20px;
    font-size: 11px;
  }
.react-tabs__tab-panel{
    height: 56vh;
  }
.logout-btn{
    top: -18px;
    right: 5px;
  }
.settingMessage{
    width: 30%;
  }
.hexBox{
    margin: 4% auto;
  }
.react-tabs__tab{
    --minFontSize: 12px;
    --maxFontSize: 200px;
    --scaler: 2vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize));
  }
}
@media only screen and (min-width: 756px){
  .dropdown-bar{
    visibility: hidden;
  }
}
